In [ ]:
#concatenação de strings

In [ ]:
#manipulação de strings
#Crie um programa que leia uma frase digitada pelo usuário e exiba quantos caracteres ela possui (incluindo espaços).
frase = input()
print(len(frase))

python
6

In [ ]:
#Peça uma palavra ao usuário e mostre quantas vezes a letra "a" aparece nela (maiúscula ou minúscula)
palavra = input()
print(palavra.count('a'))

amanhã
2

In [ ]:
#Peça ao usuário que digite algo e verifique se ele digitou apenas letras e números (sem espaços ou símbolos).
frase = input()
print(frase.isalnum())

hoje 90
False

In [ ]:
#Verifique se o nome digitado pelo usuário contém somente letras (sem espaços ou números).
nome = input()
print(nome.isalpha())

flav9
False

In [ ]:
#Dada a frase "Eu gosto de sorvete", substitua "sorvete" por "chocolate" e mostre a nova frase.
frase = 'Eu gosto de sorvete'
print(frase.replace('sorvete', 'chocolate'))

Eu gosto de chocolate

In [ ]:
#fatiamento de string
#Dada a string texto = "Programação"
#Mostre apenas os 5 primeiros caracteres.
p = "programação"
print(p [0:5])

progr

In [ ]:
#Com a string palavra = "Biomedicina"
#Mostre os caracteres do índice 2 ao 6 (sem incluir o 6).
b = 'biomedicina'
print(b [2:6])

omed

In [ ]:
#operações númericas básicas
#Dado a = 8 e b = 5, calcule: a soma, a subtração, a multiplicação
a = 8
b = 5

soma = a + b
print(soma)

subtracao = a - b
print(subtracao)

multi = a * b
print(multi)

13
3
40

In [ ]:
#Dado nota1 = 7.5 e nota2 = 6.0, verifique se: As duas notas são iguais, A primeira é maior ou igual à segunda.
nota1 = 7.5
nota2 = 6.0

if nota1 == nota2:
  print('iguais')
elif nota1 > nota2:
  print('nota1 maior que nota2')

nota1 maior que nota2

In [ ]:
#Calcule 3 elevado à 4ª potência.
a = 3
pot = 3 ** 4
print(pot)

81

In [ ]:
#Dado idade = 18, verifique: Se é igual a 18, Se é maior que 17, Se é diferente de 21
idade = 18
if idade == 18 and idade > 17 and idade != 21:
  print('idade igual a 18')

idade igual a 18

In [ ]:
#operações númericas com if, elif e else
#Peça ao usuário um número e diga se ele é par ou ímpar.
n = int (input())
if n % 2 == 0:
  print('par')
else:
  print('impar')

15
impar

In [ ]:
#Receba dois números e mostre o maior deles.
n1 = int (input())
n2 = float (input())
if n1 > n2:
  print(n1)
else:
  print(n2)

9
12.8
12.8

In [ ]:
#Dado um número, verifique se ele é múltiplo de 3, de 5 ou de ambos.
n = int (input())
n3 = n % 3
n5 = n % 5

if n3 == 0 and n5 == 0:
  print('ambos')
elif n3 == 0:
  print('multi de 3')
elif n5 == 0:
  print('multi de 5')
else:
  ('não é multiplo de nenhum')

7

In [ ]:
#Receba duas notas e calcule a média. Se a média for maior ou igual a 7, mostre "Aprovado"; entre 5 e 7, mostre "Recuperação"; menor que 5, "Reprovado".
nota1 = int(input())
nota2 = float(input())

media = nota1 + nota2 / 2

if media > 7:
  print('aprovado')
elif media == 5 and media == 6:
  print('recuperação')
elif media < 5:
  print('reprovado')

4
3.5

In [ ]:
#Peça dois números e uma operação (+, -, *, /) e realize a operação correspondente.
n1 = int (input())
n2 = int (input())
operador = input()

if operador == '+':
  soma = n1 + n2
  print(soma)
elif operador == '-':
  sub = n1 - n2
  print(sub)
elif operador == '*':
  multi = n1 * n2
  print(multi)
elif operador == '/':
  div = n1 / n2
  print(div)

4
2
/
2.0

In [ ]:
#índice de listas
#Dada a lista frutas = ["maçã", "banana", "laranja", "uva", "melancia"], exiba o primeiro item.
frutas = ["maçã", "banana", "laranja", "uva", "melancia"]
print(frutas[1])

banana

In [ ]:
#Encontre a posição (índice) do item "uva" na lista.
frutas = ["maçã", "banana", "laranja", "uva", "melancia"]
print(frutas.index('uva'))

3

In [ ]:
#Exiba o penúltimo item da lista utilizando índice negativo.
frutas = ["maçã", "banana", "laranja", "uva", "melancia"]
print(frutas [-2])

uva

In [ ]:
#Utilize índice negativo para exibir a última fruta da lista.
frutas = ["maçã", "banana", "laranja", "uva", "melancia"]
print(frutas[-1])

melancia

In [ ]:
#Mostre a terceira fruta da lista frutas.
frutas = ["maçã", "banana", "laranja", "uva", "melancia"]
print(frutas[2])

laranja

In [ ]:
#manipulação de listas
#Crie uma lista chamada animais com os seguintes elementos: "cachorro", "gato", "papagaio", "hamster".
#Use a função len() para exibir quantos animais há na lista.
animais = ["cachorro", "gato", "papagaio", "hamster"]
print(len(animais))

4

In [ ]:
#Dada a lista idades = [25, 18, 30, 21, 16], utilize a função min() para mostrar a menor idade.
idades = [25, 18, 30, 21, 16]
print(min(idades))

16

In [ ]:
#Utilize a função max() para descobrir a maior idade da lista idades usada acima.
idades = [25, 18, 30, 21, 16]
print(max(idades))

30

In [ ]:
#Crie uma lista cores = ["azul", "vermelho", "verde"].
#Adicione a cor "amarelo" à lista usando o método append()
cores = ["azul", "vermelho", "verde"]
cores.append('amarelo')
print(cores)

['azul', 'vermelho', 'verde', 'amarelo']

In [ ]:
#Dada a lista numeros = [1, 2, 3, 4, 5], remova o número na posição 2
numeros = [1, 2, 3, 4, 5]
del numeros [1]
print(numeros)

[1, 3, 4, 5]

In [ ]:
#Verifique se o número 4 está presente na lista numeros = [1, 3, 4, 5].
numeros = [1, 3, 4, 5]
6 in numeros

False

In [ ]:
#Crie a lista lista1 = [10, 20, 30] e a lista lista2 = [40, 50].
#Use extend() para juntar as duas listas.
lista1 = [10, 20, 30]
lista2 = [40, 50]
lista1.extend(lista2)
print(lista1)

[10, 20, 30, 40, 50]

In [ ]:
#Dada a lista valores = [2, 4, 6, 8], utilize a função sum() para calcular a soma total.
valores = [2, 4, 6, 8]
print(sum(valores))

20

In [ ]:
#fatiamento de listas
#Dada a lista nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"], exiba somente os 3 primeiros nomes usando fatiamento.
nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]
print(nomes [0:3])
#Com a mesma lista, exiba os dois últimos nomes.
nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]
print(nomes[2:5])

#Mostre os nomes a partir do terceiro elemento da lista (índice 2) até o final.
nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]
print(nomes[2:])
#Exiba apenas "Bruno" e "Carlos" usando fatiamento.
nomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]
print(nomes[1:3])

['Ana', 'Bruno', 'Carlos']
['Carlos', 'Diana', 'Eduardo']
['Carlos', 'Diana', 'Eduardo']
['Bruno', 'Carlos']